{{- /* x */ -}}
command: {{.Command}}
{{- if .Args}}
args: [{{range $i, $a := .Args}}{{if $i}}, {{end}}{{$a}}{{end}}]
{{- end}}
{{- if or .EnvRequired .PlainEnv}}
env:
{{- range .EnvRequired}}
  {{.}}: "${{`{`}}{{.}}{{`}`}}"
{{- end}}
{{- range .PlainEnv}}
  {{.Name}}: {{yamlQuote .Value}}
{{- end}}
{{- end}}
