apiVersion: v1
kind: Secret
metadata:
  name: {{.SecretName}}
  namespace: {{.Namespace}}
  labels:
    app: fracta
    component: {{.ServiceName}}
type: Opaque
stringData:
{{- range .EnvBindings}}
  {{.SecretKey}}: ""  # fill from {{.Name}}
{{- end}}
